.dark-blue-label,
.Solutions {
    background-color: rgb(7, 41, 165); /* Dark blue color */
    color: white; /* White text color */
    padding: 20px;
    border-radius: 5px;
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding in the width */
    margin-bottom: 20px;
}

.dark-blue-label h1,
.Solutions h1 {
    font-size: 3.7em; /* Increase font size */
    margin-top: 0;
    margin-left: 5%;
    font-family: 'Montserrat', 'sans-serif';
    margin-bottom:10px;
}

.dark-blue-label p,
.Solutions p {
    font-size: 1.1em;
    margin-left: 5%;
}
.dark-blue-label h1 span {
    font-size: 0.46em; /* Smaller size */
    color: rgb(184, 241, 255); /* Light blue color */
    position: absolute;
    top: 510.6%; /* Adjust this value as needed */
    left: 32%;
    transform: translate(-50%, -50%);
}
.dark-blue-label img {
    position: absolute;
    top: 349.0%; /* Adjust as needed */
    right: 28px; /* Adjust as needed */
    width: 235px; /* Adjust as needed */
    height: 235px; /* Maintain aspect ratio */
}

.card-box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    width: 90%; /* Reduce width to 90% */
    margin: 20px auto; /* Center align with margin */
}

.card-box h2 {
    font-size: 1.5em;
    margin-top: 0;
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.card-box:nth-child(1) h2 {
    background-color: rgba(219, 219, 255, 0.8); /* Blue background */
}

.card-box:nth-child(2) h2 {
    background-color: rgba(255, 255, 224, 0.8); /* Yellow background */
}

.card-box:nth-child(3) h2 {
    background-color: rgba(253, 224, 224, 0.8); /* Red background */
}

.card-box:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.card-box:nth-child(1):hover {
    box-shadow: 0 8px 16px rgba(0, 0, 255, 0.8); /* Blue shadow on hover */
}

.card-box:nth-child(2):hover {
    box-shadow: 0 8px 16px rgba(255, 255, 0, 0.8); /* Yellow shadow on hover */
}

.card-box:nth-child(3):hover {
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.8); /* Red shadow on hover */
}

.card-box p {
    font-size: 1em;
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.card-box .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-box ul {
    list-style-type: disc;
    padding-left: 40px;
    margin: 12px 0;
    width: calc(33.333% - 40px);
}

.card-box h2 {
    font-size: 1.5em;
    margin-top: 0;
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

 /*img in smartbridge*/
 .card-box-box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    width: 90%; /* Reduce width to 90% */
    margin: 20px auto; /* Center align with margin */
}
.card-box-box h2 {
    font-size: 1.5em;
    margin-top: 0;
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
.card-box-box:hover {
    transform: scale(1.05); /* Scale up on hover */
}
.card-box-box h2 {
    background-color: rgba(204, 231, 241, 0.8); /* Red background */
}
.card-box-box:hover  {
    box-shadow: 0 8px 16px rgba(0, 162, 255, 0.8);  /* Red background */
}
.outer-box {
    display: flex;
    flex:wrap;
    flex-direction: column;
    width: 99%;
    background-color: white; /* Optional background color */
    padding: 1px;
    margin-left: -1% ;
    margin-bottom: -1%;
}
.box10 h3{
    margin-top: auto;
    font-size: 20px;
    background-color: white;
}
.box10 ul li{
    font-size: 17px;
}
 
.image-container {
    margin-bottom: auto;
    width: 30%; /* Adjust to decrease width */
    display: block;
    justify-content: center;
    flex-direction: column;
    height: auto; /* Allow the height to adjust automatically */
    background-color: white; /* Optional background color */
    border: solid white; /* Optional border */
    margin-right: 70px; /* Ensure it aligns to the right */
    
}
.image {
    width: 500px;
    height: 450px;
    
}
img[alt="ss"]{
    border: 2px solid white; /* Example: Add a black border */
    border-radius: 1px; /* Example: Rounded corners */
    height: 390px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example: Add a shadow */
    max-width: 100%;
}
.image-container:hover img[alt="ss"],.image-container:hover button.BUTTON {
    transform: scale(1.01); /* Slightly enlarge the image */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance the shadow on hover */
    cursor: pointer;
}

button.BUTTON {
    margin-top: -1cm;
    width: 86.6%; /* Make the button the same width as the container */
    padding: 9px; /* Adjust padding for elongation */
    background-color: rgb(7 41 165); /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Adjust font size */
    text-align: center; /* Center the text */
}
.box10 {
    
    padding: 10px 10px;
    margin: 1px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

.box10 li {
    
    padding: 1px 1px; /* Adjust padding as needed */
    flex: 1 1 50%; /* Make each list item a block element */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide overflow text */
    font-size: 20px; 
}


.card-box:nth-child(1) h2 {
    background-color: rgba(219, 219, 255, 0.8); /* Blue background */
}

.card-box:nth-child(2) h2 {
    background-color: rgba(255, 255, 224, 0.8); /* Yellow background */
}

.card-box:nth-child(3) h2 {
    background-color: rgba(253, 224, 224, 0.8); /* Red background */
}
.card-box:nth-child(4) h2 {
    background-color: rgba(224, 246, 253, 0.8); /* blue background */
}
.card-box:hover {
    transform: scale(1.05); /* Scale up on hover */
}

.card-box:nth-child(1):hover {
    box-shadow: 0 8px 16px rgba(0, 0, 255, 0.8); /* Blue shadow on hover */
}

.card-box:nth-child(2):hover {
    box-shadow: 0 8px 16px rgba(255, 255, 0, 0.8); /* Yellow shadow on hover */
}

.card-box:nth-child(3):hover {
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.8); /* Red shadow on hover */
}


.label-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of boxes */
    justify-content: center; /* Space between the labels */
    align-items: center; /* Align labels to the top */
    gap: 20px; /* Space between labels */
    padding: 20px; /* Padding for container */
    width: 80%; /* Reduce width to 90% */

    margin: 0 auto; /* Center the container */
}
.dark-blue-label span{
    color: #a1d6e0;
    font-size:1.1em;
    margin-left: 5%;
    margin-top:-100%;
    font-family: 'Montserrat', 'sans-serif';
}
.label {
    position: relative; /* Position for absolute child */
    border: 2px solid rgb(230, 230, 230); /* Blue border */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    width: calc(25% - 20px); /* Fixed width for each label with gap */
    height: 200px; /* Fixed height for each label */
    box-sizing: border-box; /* Include padding in the width */
    background-color: white; /* No background color */
    text-align: center; /* Center text inside labels */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    overflow: hidden; /* Prevent content overflow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    z-index: 0; /* Ensure it's behind other labels */
}
.label:hover {
    transform: scale(1.1); /* Scale up on hover */
    z-index: 1; /* Ensure it appears above other labels */
}
.label:nth-child(1):hover {
    box-shadow: 0 8px 16px rgba(238, 130, 238, 0.8); /* Violet shadow on hover */
}
.label:nth-child(2):hover {
    box-shadow: 0 8px 16px rgba(75, 0, 130, 0.8); /* Indigo shadow on hover */
}
.label:nth-child(3):hover {
    box-shadow: 0 8px 16px rgba(0, 0, 255, 0.8); /* Blue shadow on hover */
}
.label:nth-child(4):hover {
    box-shadow: 0 8px 16px rgba(0, 255, 0, 0.8); /* Green shadow on hover */
}
.label:nth-child(5):hover {
    box-shadow: 0 8px 16px rgba(255, 255, 0, 0.8); /* Yellow shadow on hover */
}
.label:nth-child(6):hover {
    box-shadow: 0 8px 16px rgba(255, 157, 0, 0.8); /* Orange shadow on hover */
}
.label:nth-child(7):hover {
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.8); /* Red shadow on hover */
}
.label:nth-child(1) h3 {
    background-color: rgb(251, 235, 251);/* Indigo background */
}
.label:nth-child(2) h3 {
    background-color: rgba(247, 236, 254, 0.993);/* Indigo background */
}
.label:nth-child(3) h3 {
    background-color: rgba(219, 219, 255, 0.8);/* Indigo background */
}
.label:nth-child(4) h3 {
    background-color: rgba(223, 254, 223, 0.8);/* Indigo background */
}
.label:nth-child(5) h3 {
    background-color: rgba(255, 255, 224, 0.8);/* Indigo background */
}
.label:nth-child(6) h3 {
    background-color: rgba(255, 243, 223, 0.8);/* Indigo background */
}
.label:nth-child(7) h3 {  
    background-color: rgba(253, 224, 224, 0.8);/* Indigo background */
}
.label h3 {
    font-size: 1.1em;
    margin: 0; /* Remove top margin */
    padding: 10px; /* Add padding for better readability */
    color: black; /* Default text color for h3 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px 10px 0 0;
}
.label p {
    font-size: 14px;
    margin-top: 10px;
    white-space: normal; /* Allow wrapping of text */
    overflow: visible; /* Show overflowing text */
}

/* Styling for Our academic partners*/
.width-container {
    width: 90%;
    background-color: rgb(219,234,247); /* Optional: background color for the container */
    margin:0 auto;
}

.partners-section {
    font-size: 36px;
    color: rgb(7 41 165);
    margin-bottom: 25px;
    text-align: center;
    margin-top: 20px;
}

.partners-logos {
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.partners-logos img {
    width: 150px;
    height: 120px;
   
    object-fit: contain;
}  


