body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
}

.section-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.section-content {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

.section-image {
    flex-shrink: 0;
}

.section-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.section-description {
    margin: 0 20px;
    flex-grow: 1;
}

.section-description p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.section-title {
    font-size: 36px;
    color: rgb(37, 53, 238); /* Changed color */
    margin-bottom: 20px;
}


/* .section:nth-child(even) .section-content {
    flex-direction: row-reverse;
} */

.our-values {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.our-values .section-title {
    margin-bottom: 50px;
}

.values-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.value-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 19px;
    width: 200px;
    text-align: center;
    flex: 0 0 auto;
}

.value-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.value-card h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #555;
}

.value-card p {
    font-size: 14px;
    color: #777;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
        text-align: center;
    }

    .section-image img {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .section-description {
        margin: 0;
    }

    .values-container {
        flex-direction: column;
    }

    .value-card {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 28px;
    }

    .section-description p {
        font-size: 14px;
    }

    .value-card h3 {
        font-size: 18px;
    }

    .value-card p {
        font-size: 12px;
    }
}
